.form{
  box-sizing: content-box;
  border-style: solid;
  position: absolute;
  left: calc(60px + 39%);
  top: 50px;
  height: 175px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  z-index: 3;
  background-color: white;
}

.escape{
  position: absolute;
  right: 0px;
  top: 5px;
  border-style: none;
}

.form-section{
  position: relative;
}

.form-label{
  font-size: small;
  position: absolute;
  left: 0px;
  top: -20px;
  margin-bottom: 25px;
}

.form-input{
  margin: 15px;
  height: 20px;
  width: 125px;
}