.availability{
  position: relative;
  padding: 25px;
}

.add-button{
  position: absolute;
  right: 50px;
}

.chart{
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 7%, 31%, 31%, 31%;
  grid-template-rows: 25px, 50px, 50px, 50px, 50px, 50px, 50px, 50px;
}

.roles{
}

.times{

}