.availability{
  position: relative;
  width: 100vw;
}

button{
  border: 2px solid #ef3e36;
  padding: 7px 15px !important;
  border-radius: 25px;
  color: #ef3e36 !important;
  margin-right: 2%;
  background-color: white;
}

button:hover {
  color: white !important;
  background-color: #ef3e36;
  text-decoration: none;
}

.add-button{
  position: absolute;
  right: 24%;
  top: -50px; 
}

.chart{
  position: relative;
  margin: 40px auto;
  width: 50%;
  
}

.box{
  box-sizing: content-box;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  
}

.row{
  position: relative;
  width: 100%;
  display: flex;
}

.time{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell{
  height: 50px;
  width: 33%;
  
}

.top{
  height: 25px;
}

.available{
  background-color: #759cdf;;
  /* border-bottom-color: rgb(167, 78, 78);
  border-top-color: rgb(167, 78, 78); */
  display: flex;
  align-items: center;
  justify-content: center;
}



